#filters {
    position : absolute;
    right    : calc(50% + 410px);
    top      : 0;
    width    : 240px;
    height   : 100%;
}

#filters-body {
    position    : sticky;
    left        : 0;
    top         : 4px;
    box-sizing  : border-box;
    width       : 100%;
    max-height  : calc(100vh - 100px);
    padding     : 6px 8px;
    border-left : 5px solid #666;
    background  : #FFF;
    overflow    : auto;
}

.filters-section:not(:first-of-type) {
    margin-top : 10px;
}

.filters-label {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : flex-start;
    align-items     : center;
    gap             : 4px;
    border-bottom   : 2px solid #000;
}

.filter-group {
    padding       : 4px;
    margin-bottom : 10px;
}

.filter-group > label {
    display       : block;
    box-sizing    : border-box;
    width         : 100%;
    padding       : 4px;
    margin-bottom : 4px;
    border-radius : 4px;
    background    : #DDD;
    font-weight   : bold;
}

.filter-group > label:has(input) {
    padding     : 2px;
    background  : transparent;
    font-weight : normal;
    cursor      : pointer;
}

.filter-group input,
.filter-group select {
    box-sizing    : border-box;
    width         : 100%;
    padding       : 4px 8px;
    border-bottom : 1px solid #CCC;
    transition    : border-bottom-color .3s;
}

.filter-group input:hover,
.filter-group select:hover {
    border-bottom-color : #666;
}

.filter-group input[type=range] {
    padding      : 0;
    accent-color : #EA6060;
}

.filter-group input[type=checkbox] {
    --clr          : #EA6060;

    width          : 20px;
    height         : 20px;
    margin-right   : 6px;
    accent-color   : var(--clr);
    vertical-align : bottom;
}

.filter-group input[type=number] {
    max-width: 60px;
}

.filter-group > select {
    cursor : pointer;
}

.filter-group:has(.used) > label:first-child {
    background: #F19D9D;
}

/** #ea6060 */

#search-results {
    padding       : 10px;
    margin-bottom : 2px;
    background    : #FFF;
    border-left   : 5px solid #666;
}

#search-results > span > span:not(.filtered) > #clear-filters {
    visibility: hidden;
}

#clear-filters,
#extra-clear-filters {
    padding       : 2px 8px;
    margin-left   : 8px;
    border        : 1px solid #888;
    border-radius : 4px;
    background    : #EEE;
    box-shadow    : 0 0 5px 0 rgba(200 200 200 / 0.8);
    cursor        : pointer;
    transition    : background-color .3s;
}
#clear-filters:hover,
#extra-clear-filters:hover {
    background: #CCC;
}

.game-li.invisible {
    opacity: .3;
}

#games.hide .game-li.invisible {
    display: none;
}

#extra-clear-filters-container {
    display: none;
}

#filter-button {
    display       : none;
    position      : fixed;
    bottom        : 10px;
    left          : 10px;
    width         : 44px;
    padding       : 4px;
    font-size     : 0;
    border-radius : 666px;
    background    : #A6D6E8;
    box-shadow    : 0 1px 5px 0 rgba(200 200 200 / 0.8);
    overflow      : hidden;
    transition    : width .3s;
    z-index       : 100;
}
#filter-button > span {
    height      : 36px;
    line-height : 36px;
    margin-left : 6px;
    font-weight : bold;
    font-size   : 16px;
}
#filter-button > span::after {
    content: " (закрыть)";
}
#filter-button:has(+ #filters[aria-expanded="true"]) {
    width: calc(100vw - 20px);
}

.game-name > mark {
    color           : #EA6060;
    text-decoration : solid underline currentColor 2px;
}

/* categories */

#categories-filters {
    position : absolute;
    left     : calc(50% + 410px);
    top      : 0;
    width    : 240px;
    height   : 100%;
}

#categories-body {
    position    : sticky;
    left        : 0;
    top         : 4px;
    box-sizing  : border-box;
    width       : 100%;
    max-height  : calc(100vh - 100px);
    padding     : 6px 8px;
    border-left : 5px solid #666;
    background  : #FFF;
    overflow    : scroll;
}

#categories-body::-webkit-scrollbar-thumb:hover {
    background : #EA6060;
}

#categories-body > .filter-group {
    padding-left : 0;
}

#categories-body > .filter-group > .button {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : space-between;
    align-items     : center;
    gap             : 10px;
    width           : 100%;
}

#categories-body > .filter-group > .button > span:first-child::first-letter {
    text-transform: uppercase;
}

/* media */

@media screen and (max-width: 1340px) {
    #contents {
        margin: 0 260px 0 260px;
    }

    #filters {
        left  : 10px;
        right : auto;
    }

    #categories-filters {
        left: auto;
        right: 10px;
    }
}

@media screen and (pointer: fine) {
    #categories-body::-webkit-scrollbar {
        width : 6px;
    }

    #categories-body::-webkit-scrollbar-thumb {
        width         : 6px;
        background    : #222;
        border-radius : 10px;
    }
}

@media screen and (max-width: 1000px) {
    #contents {
        margin: 0 20px 0 260px;
    }

    #categories-filters {
        position    : static;
        width       : 100%;
    }

    #categories-body {
        position    : static;
        padding     : 4px 8px;
        border-left : none;
        overflow-y  : hidden;
    }

    #categories-body::-webkit-scrollbar,
    #categories-body::-webkit-scrollbar-thumb {
        width  : auto;
        height : 6px;
    }

    #categories-body > .filters-label {
        display: none;
    }

    #categories-body > .filter-group {
        display         : flex;
        flex-flow       : row nowrap;
        justify-content : flex-start;
        align-items     : center;
        gap             : 4px;
        width           : max-content;
        padding         : 0;
        margin-bottom   : 4px;
    }

    #categories-body > .filter-group > .button {
        width  : auto;
        margin : 0 !important;
    }

    #filter-category-mod-container {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    #contents {
        margin: 0;
    }

    #filters {
        position   : fixed;
        left       : 0;
        width      : 100vw;
        height     : 100vh;
        transform  : translateX(-100%);
        transition : transform .4s;
        z-index    : 10;
    }

    #filters-body {
        height     : 100%;
        max-height : 100vh;
        padding    : 10px 14px 100px 14px;
        border     : none;
        overflow   : auto;
    }

    #filters[aria-expanded="true"] {
        transform: translateX(0);
    }

    #filter-button {
        display: flex;
    }

    #extra-clear-filters-container {
        display: block;
    }
}